<article class="post">
  <div class="title">
    <a href="/api/events/{{id}}" target="_blank">{{name}}</a>
  </div>
  <div class="meta">
    <p><strong>Where:</strong> {{ location }}</p>
    <p><strong>What:</strong> {{ description }}</p>
    <p><strong>When:</strong> {{ date }} </p>
    <p><strong>Posted by:</strong> {{ user.username }} </p>
    <ul><strong>Tags:</strong>
      {{#each tags as |tag|}}
      <li>
        {{tag_title}}
      </li>
      {{/each}}
    </ul>
  </div>
</article>